[Desktop Entry]
Type=Application
TryExec=openagent-terminal
Exec=openagent-terminal
Icon=openagent-terminal
Terminal=false
Categories=System;TerminalEmulator;

Name=OpenAgent Terminal
GenericName=Terminal
Comment=AI-enhanced, cross-platform terminal with GPU (WGPU) rendering and privacy-first design
StartupNotify=true
StartupWMClass=openagent-terminal
Actions=New;

[Desktop Action New]
Name=New Terminal
Exec=openagent-terminal
